@model IntexAzure.Models.WorkOrdersPrice

@{
    ViewBag.Title = "Details";
}
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Customers")">Customers</a></li>
    <li>Work Orders</li>

</ul>
<h2>Work Order @Model.WorkOrder.WorkOrderID</h2>

<div>

    <hr />
    <h4>Percent Complete: @ViewBag.PercentComplete %</h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkOrder.Customers.CustName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrder.Customers.CustName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkOrderPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrderPrice)
        </dd>
        <!--This will be the number of complete tests-->
        <dt>
            @Html.DisplayNameFor(model => model.CompleteTests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompleteTests)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BackLogTests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BackLogTests)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InProgressTests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InProgressTests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkOrder.OrderDueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrder.OrderDueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkOrder.OrderRushed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrder.OrderRushed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkOrder.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrder.OrderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkOrder.OrderCreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrder.OrderCreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkOrder.OrderDiscounts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrder.OrderDiscounts)
        </dd>

    </dl>
</div>

<div class="btn btn-default">
    @Html.ActionLink("Send Customer Status Update", "EmailUpdate",
    new { CustName = Model.WorkOrder.Customers.CustName, WorkOrderID = Model.WorkOrder.WorkOrderID,
         OrderStatus = Model.WorkOrder.OrderStatus, CompletedTests = Model.CompleteTests,
         IncompleteTests = (Model.BackLogTests + Model.InProgressTests), PercentComplete = ViewBag.PercentComplete, CustEmail = Model.WorkOrder.Customers.CustEmail,
         EmpName = Model.WorkOrder.Customers.Employees.EmpName})
</div>
<br />
<br />
<br />
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkOrder.WorkOrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
