@model IntexAzure.Models.WorkOrdersPrice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WorkOrders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkOrder.Customers.CustName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrder.Customers.CustName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkOrderPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrderPrice)
        </dd>
        <!--This will be the number of complete tests-->
        <dt>
            @Html.DisplayNameFor(model => model.CompleteTests)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompleteTests)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkOrder.OrderDueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrder.OrderDueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkOrder.OrderRushed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrder.OrderRushed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkOrder.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrder.OrderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkOrder.OrderCreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrder.OrderCreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkOrder.OrderDiscounts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkOrder.OrderDiscounts)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WorkOrder.WorkOrderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
