@model IEnumerable<IntexAzure.Models.WorkOrders>

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-sm-6">
        <h2>Work Orders </h2>
    </div>
    <div class="col-sm-6">
        <div class="btn btn-default">
            @Html.ActionLink("View WorkOrder Schedule", "#", "Home", null)
        </div>
    </div>
</div>
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Customers")">Customers</a></li>
    <li>Work Orders</li>
    
</ul>


<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.WorkOrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customers.CustName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <!--logic to get the 2 methods to work-->
        
        @if (ViewBag.CustomerName == null)
        {
            <td>
                @Html.DisplayFor(modelItem => item.Customers.CustName)
            </td>
        }
        else
        {
            <td>
                @ViewBag.CustomerName
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.WorkOrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customers.CustName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.OrderStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.WorkOrderID }) |
            @Html.ActionLink("Details", "Details", new { id = item.WorkOrderID })|
            @Html.ActionLink("View Assays", "ViewWorkOrderAssays", new { workOrderID = item.WorkOrderID })
            <!--

        -->
        </td>
    </tr>
    }

</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
