@model IEnumerable<IntexAzure.Models.WorkOrders>

@{
    ViewBag.Title = "Index";
}


<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Customers")">Customers</a></li>
    <li>Work Orders</li>

</ul>


<h2>Work Orders </h2>

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.WorkOrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customers.CustName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>

        <th></th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <!--logic to get the 2 methods to work-->
        
        <td>
            @Html.DisplayFor(modelItem => item.WorkOrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customers.CustName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.OrderStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.WorkOrderID }) |
            @Html.ActionLink("Details", "Details", new { id = item.WorkOrderID })|
            @Html.ActionLink("View Assays", "ViewWorkOrderAssays", new { workOrderID = item.WorkOrderID })
            <!--

        -->
        </td>
    </tr>
    }

</table>
<br />
<br />
<br />
<p>
    @Html.ActionLink("Create New Work Order", "Create")
</p>
