@model IEnumerable<IntexAzure.Models.WorkOrders>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Customers.CustID)</th>
        <th>
            @Html.DisplayNameFor(model => model.Customers.CustName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderRushed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderCreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDiscounts)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Customers.CustID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customers.CustName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderRushed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderCreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDiscounts)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.WorkOrderID }) |
                @Html.ActionLink("Email an Update", "EmailUpdate", new { name = item.Customers.CustName, email = item.Customers.CustEmail, status = item.OrderStatus, testnum = 900 / 3, workorderid = item.WorkOrderID })
                <!--

    -->
                @Html.ActionLink("Delete", "Delete", new { id = item.WorkOrderID })
            </td>
        </tr>
    }

</table>
