@model IEnumerable<IntexAzure.Models.WorkOrders>

@{
    ViewBag.Title = "Index";
}


<div class="row">
    <div class="col-sm-6">
        <h2>Work Orders </h2>
    </div>
    <div class="col-sm-6">
        <div class="btn btn-default">
            @Html.ActionLink("View WorkOrder Schedule", "#", "Home", null)
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustID)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Customers.CustName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderRushed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderCreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDiscounts)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customers.CustName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkOrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderRushed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderCreationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderDiscounts)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.WorkOrderID }) |
            @Html.ActionLink("Details", "Details", new { id = item.WorkOrderID })|
            @Html.ActionLink("Email an Update", "EmailUpdate", new { name = item.Customers.CustName, email = item.Customers.CustEmail, status = item.OrderStatus, testnum = 900 / 3, workorderid = item.WorkOrderID })
            @Html.ActionLink("View Assays", "ViewWorkOrderAssays", new { workOrderID = item.WorkOrderID })
            <!--

        -->
        </td>
    </tr>
    }

</table>
