@model IntexAzure.Models.Assays

@{
    ViewBag.Title = "Create";
}
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Customers")">Customers</a></li>
    <li><a href="@Url.Action("Index", "WorkOrders")">Work Orders</a></li>
    <li>Assays</li>
</ul>
<h2>New Assay</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.WorkOrderID, "WorkOrderID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("WorkOrderID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.WorkOrderID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssayStatus, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AssayStatus, new List<SelectListItem>
{
                   new SelectListItem() { Text="In Progress", Value="In Progress"},
                   new SelectListItem() { Text="Complete", Value="Complete"},
                   new SelectListItem() { Text="BackLog", Value="BackLog"},},
               "-- Order Status --", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AssayStatus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AssayTypeID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AssayTypeID, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AssayTypeID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
