@model IntexAzure.Models.AssayPrice

@{
    ViewBag.Title = "Details";
}
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Customers")">Customers</a></li>
    <li><a href="@Url.Action("Index", "WorkOrders")">Work Orders</a></li>
    <li>Assays</li>
</ul>
<h2>Assay @Model.Assay.AssayID </h2>

<div>

    <h4>Estimated Price: @Model.EstimatedPrice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Assay.WorkOrders.OrderRushed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assay.WorkOrders.OrderRushed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assay.AssayStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assay.AssayStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assay.AssayTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assay.AssayTypeID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Assay.AssayID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
