@model IntexAzure.Models.AssayPrice

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Assays</h4>
    <h2>Estimated Price: @Model.EstimatedPrice</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Assay.WorkOrders.OrderRushed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assay.WorkOrders.OrderRushed)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assay.AssayStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assay.AssayStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assay.AssayTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assay.AssayTypeID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Assay.AssayID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
