@model IEnumerable<IntexAzure.Models.Assays>

@{
    ViewBag.Title = "Index";
}
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Customers")">Customers</a></li>
    <li><a href="@Url.Action("Index", "WorkOrders")">Work Orders</a></li>
    <li>Assays</li>
</ul>
<h2>Assays</h2>

    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssayID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssayTypes.AssayTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssayStatus)
        </th>



        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssayID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkOrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssayTypes.AssayTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssayStatus)
        </td>



        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.AssayID }) |
            @Html.ActionLink("Details", "Details", new { id = item.AssayID }) |
            @Html.ActionLink("View Tests", "ViewAssayTests", new { assayID = item.AssayID })

        </td>
    </tr>
}

</table>
