@model IEnumerable<IntexAzure.Models.Assays>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssayID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrderID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssayStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssayTypeID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssayID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkOrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssayStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssayTypeID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.AssayID }) |
            @Html.ActionLink("Details", "Details", new { id = item.AssayID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.AssayID })
        </td>
    </tr>
}

</table>
