@model IntexAzure.Models.SpecificTests

@{
    ViewBag.Title = "Delete";
}

<h2>Test @Model.CompoundTestID</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SpecificTests</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssayID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssayID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantitativeResults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantitativeResults)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QualitativeResults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualitativeResults)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompoundSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompoundSC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterialsListID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialsListID)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
