@model IntexAzure.Models.SpecificTests

@{
    ViewBag.Title = "Details";
}
<ul class="breadcrumb">
    <li><a href="@Url.Action("Index", "Customers")">Customers</a></li>
    <li><a href="@Url.Action("Index", "WorkOrders")">Work Orders</a></li>
    <li><a href="@Url.Action("Index", "Assays")">Assays</a></li>
    <li>Tests</li>
</ul>
<h2>Test @Model.CompoundTestID</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssayID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssayID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestTypeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestTypeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantitativeResults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantitativeResults)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QualitativeResults)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualitativeResults)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompoundSC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompoundSC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.testStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.testStatus)
        </dd>



    </dl>
</div>
<br />
<br />
<br />

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CompoundTestID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
