@model IEnumerable<IntexAzure.Models.SpecificTests>

@{
    ViewBag.Title = "Index";
}

<h2>Tests</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompoundTestID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestType.testTypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssayID)
        </th>


        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompoundTestID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestType.testTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssayID)
        </td>


        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CompoundTestID }) |
            @Html.ActionLink("Details", "Details", new { id = item.CompoundTestID }) |

        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Create New Test", "Create")
</p>
