@model IEnumerable<IntexAzure.Models.CustomerWorkOrders>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            Customer Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderRushed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderCreationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDiscounts)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @ViewBag.CustomerName
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderRushed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderCreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDiscounts)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.WorkOrderID }) |
                <!--

                -->
                @Html.ActionLink("Delete", "Delete", new { id = item.WorkOrderID })
            </td>
        </tr>
    }

</table>
