@model IntexAzure.Models.AssayTypes

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AssayTypes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssayTypeDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssayTypeDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssayTypeTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssayTypeTime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssayTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
