@model IEnumerable<IntexAzure.Models.AssayTypes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AssayTypeDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssayTypeTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AssayTypeDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AssayTypeTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AssayTypeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AssayTypeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AssayTypeID })
        </td>
    </tr>
}

</table>
