<!DOCTYPE html>
<html>

@model IEnumerable<IntexAzure.Models.WorkOrders>

@{
    ViewBag.Title = "MyWorkOrders";
}

@{
    Layout = null;
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WelcomeCustomer</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("My Work Orders", "MyWorkOrders", "Home")</li>

                    <li>@Html.ActionLink("Login", "Login", "Home")</li>
                    <li>@Html.ActionLink("SignUp", "SignUp", "Home")</li>

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">

        <h2>MyWorkOrders</h2>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Customers.CustName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDueDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderRushed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderCreationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderDiscounts)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Customers.CustName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDueDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderRushed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderCreationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDiscounts)
                    </td>
                    <td>
                        @Html.ActionLink("Assays", "WorkOrderAssays", new { id = item.WorkOrderID })
                    </td>
                </tr>
            }

        </table>
</div>
</body>
</html>