
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WelcomeEmployee</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Customers", "Index", "Customers")</li>
                    <li>@Html.ActionLink("WorkOrders", "Index", "WorkOrders")</li>

                    <li>@Html.ActionLink("Login", "Login", "Home")</li>
                    <li>@Html.ActionLink("SignUp", "SignUp", "Home")</li>

                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">

        <div class="jumbotron">
            <h1>Welcome Employee</h1>
            <p class="lead">Use this portal to view work orders, assays, and tests. You may update or edit a tests results or status here.</p>
            <p class="lead">You also may view and edit customer information here.</p>
            <p><a href=@Url.Action("Index", "Customers") class="btn btn-primary btn-lg">Customers &raquo;</a></p>
            <p><a href=@Url.Action("Index", "WorkOrders") class="btn btn-primary btn-lg">Work Orders &raquo;</a></p>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Getting started</h2>
                <p>
                    NorthWest Labs performs tests on various compounds for clients. Clients may place orders online and track the status of those orders through an intuitive interface.
                </p>
                <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
            </div>

        </div>

    </div>

</body>
</html>
